// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "components/card";
@import "components/map";
@import "pages/index";
// @import "booking/show"

.highlight-red {
  background-color:#FFE0E1;
  color: red;
}

body {
  background-color: white;
}

h2 {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
}

// GESTION MARGIN DIV CENTRALE
.container-margin {
  margin: 60px;
}

// // PAGE BOOKING

.card-booking-title h2 {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
}

// .card-booking {
//   height: 450px;
// }
// .card-booking-title h2 {
//   font-family: Raleway;
//   font-style: normal;
//   font-weight: bold;
//   font-size: 48px;
// }

// .card-booking-body {
//   margin: 50px;
// }

// .card-booking-info {
//   margin: 10px;
// }

// PAGE FORM TA
p.form-paragraph {
  font-family: Raleway;
  font-style: normal;
  font-size: 20px;
  margin-bottom: 35px;
}

// PAGE FORM EDIT TA

#title-edit-form {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
}

// BUTTON EDIT

.form-actions .btn-wagon {
  margin: 30px 0 30px 0;
}
// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "components/container";
@import "components/card";
@import "index";

.highlight-red {
  background-color:#FFE0E1;
  color: red;
}

body {
  background-color: white;
}

h2 {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
}

// GESTION MARGIN DIV CENTRALE
.container-margin {
  margin: 60px;
}

// // PAGE BOOKING

.card-booking-title h2 {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
}

// .card-booking {
//   height: 450px;
// }
// .card-booking-title h2 {
//   font-family: Raleway;
//   font-style: normal;
//   font-weight: bold;
//   font-size: 48px;
// }

// .card-booking-body {
//   margin: 50px;
// }

// .card-booking-info {
//   margin: 10px;
// }

// PAGE FORM TA
p.form-paragraph {
  font-family: Raleway;
  font-style: normal;
  font-size: 20px;
  margin-bottom: 35px;
}

// PAGE FORM EDIT TA

#title-edit-form {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
}

// BUTTON EDIT

.form-actions .btn-wagon {
  margin: 30px 0 30px 0;
}
